<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/404.css"/>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <title>Terry Wang</title>
  <meta name="Description" content="Terry Wang | Student at the University of Waterloo | Passionate Coder | Web Developer | Mobile Developer">
  <meta name="Keywords" content="Personal Website, Terry Wang, Tianyu Wang, wtyanan, Terry (Tianyu) Wang">

</head>
<body>
  <div id="overlay">
    <div id="notice1">404</div>
    <div id="notice2">NOT FOUND</div>
    <a href="/"><img id="logo" src="pic/logo.png" /></a>
    <div id="text">Sorry, requested page not found.</div>
    <div id="text">Click the logo to Home.</div>
  </div>

</body>
</html>
