<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon settings -->
  <link rel="apple-touch-icon" sizes="180x180" href="pic/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="pic/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="pic/favicon-16x16.png">
  <link rel="manifest" href="pic/site.webmanifest">
  <link rel="mask-icon" href="pic/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="pic/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="pic/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

  <!-- main control CSS -->
  <script src="js/typed.min.js"></script>
  <script src="js/main.js"></script>

  <!-- SEO -->
  <title>Terry Wang</title>
  <meta name="Description" content="Terry Wang | Student at the University of Waterloo | Passionate Coder | Web Developer | Mobile Developer">
  <meta name="Keywords" content="Personal Website, Terry Wang, Tianyu Wang, wtyanan, Terry (Tianyu) Wang">

</head>
<body class="text-ubuntu" data-spy="scroll" data-target="#header" data-offset="60">
  <nav id="header" class="navbar fixed-top navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#home">
        <img class="navbar-img mr-3" src="pic/logo.png" height="45" width="45" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-2">
            <a class="nav-link" href="#home">HOME</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link" href="#about">ABOUT ME</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link" href="#experience">EXPERIENCE</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link" href="#project">PROJECT</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link" href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="home" class="home-wrapper">
    <div class="home-overlay">
      <div class="container d-flex justify-content-center align-items-center flex-column home">
        <div class="title-text">
          Hello World, I'm Terry Wang
        </div>
        <div class="typed-wrap">
          <span id="identity">&nbsp</span>
        </div>
        <div id="arrow-down" class="arrow-down">
          <a href="#about">
            <image class="arrow-down-pic" src="pic/double-arrow-down.png"></image>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="about-wrapper">
    <div class="container">
      <div class="section-title text-center">
        <h1>About me</h1>
        <div class="section-line"></div>
      </div>
      <div class="about-img">
        <image src="pic/photo.jpg" class="img-fluid" alt="Personal Photo"></image>
      </div>
      <div class="about-content">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <p>
              Hello World! I'm Terry Wang, a Computer Science Co-Op student at the University of Waterloo.
              I have endless passion in coding which keeps motivating me to learn new languages and skills.
              I like painting and playing piano as well.
            </p>
            <p>
              I'm currently learning iOS development and backend development. I describe my self as a:
            </p>
            <p>
              ▸ Earnest | Attentive | Honest | Easy-going person
            </p>
            <p>
              ▸ Passionate | Initiative | Creative | Self-learning | Hard-working coder
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="experience" class="experience-wrapper">
    <div class="container" style="height: 100vh; padding-top: 60px;">
      About
    </div>
  </section>

  <section id="project" class="project-wrapper">
    <div class="container" style="height: 100vh; padding-top: 60px;">
      About
    </div>
  </section>

  <section id="contact" class="contact-wrapper">
    <div class="container" style="height: 100vh; padding-top: 60px;">
      About
    </div>
  </section>

</body>
</html>
