<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121978356-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-121978356-1');
  </script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon settings -->
  <link rel="apple-touch-icon" sizes="180x180" href="pic/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="pic/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="pic/favicon-16x16.png">
  <link rel="manifest" href="pic/site.webmanifest">
  <link rel="mask-icon" href="pic/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="pic/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="pic/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

  <!-- main control CSS -->
  <script src="js/typed.min.js"></script>
  <script src="js/main.js"></script>

  <!-- SEO -->
  <title>Terry Wang</title>
  <meta name="Description" content="Terry Wang | Student at the University of Waterloo | Passionate Coder | Web Developer | Mobile Developer">
  <meta name="Keywords" content="Personal Website, Terry Wang, Tianyu Wang, wtyanan, Terry (Tianyu) Wang">

</head>
<body class="text-ubuntu" data-spy="scroll" data-target="#header" data-offset="60">
  <nav id="header" class="navbar fixed-top navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#home">
        <img class="navbar-img mr-3" src="pic/logo.png" height="45" width="45" alt="Website Logo"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-2">
            <a class="nav-link" href="#home">HOME</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link" href="#about">ABOUT ME</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link" href="#experience">EXPERIENCE</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link" href="#project">PROJECT</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link" href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="home" class="home-wrapper">
    <div class="home-overlay">
      <div class="container d-flex justify-content-center align-items-center flex-column home">
        <div class="title-text">
          Hello World, I'm Terry Wang
        </div>
        <div class="typed-wrap">
          <span id="identity">&nbsp</span>
        </div>
        <div id="arrow-down" class="arrow-down">
          <a href="#about">
            <img class="arrow-down-pic" src="pic/double-arrow-down.png" alt="Down"/>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="section-wrapper">
    <div class="container">
      <div class="section-title text-center">
        <h1>About me</h1>
        <div class="section-line"></div>
      </div>
      <div class="about-img">
        <img src="pic/photo.jpg" class="about-img-src img-fluid" alt="Personal Photo" />
      </div>
      <div class="about-content">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <div class="col-3">
                <p style="color: #ffffff; font-weight: bold; font-size: 1.2rem;">SKILLS</p>
              </div>
              <div class="col-9"></div>
            </div>
            <div class="row">
              <div class="col-4">
                <p style="color: #ffffff;">LANGUAGES</p>
                <p style="color: #ffffff;">FRAMEWORKS</p>
                <p style="color: #ffffff;">DATABASE</p>
                <p style="color: #ffffff;">OPERATING SYSTEMS</p>
              </div>
              <div class="col-8">
                <p>C++, C, JavaScript, HTML, CSS, Scala, Swift</p>
                <p>Node.js, React, React Native, Bootstrap, jQuery</p>
                <p>MongoDB</p>
                <p>Windows, Mac OS, Linux</p>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <a href="/Resume_Terry_Wang.pdf" class="resume-button">RESUME</a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <p>
              Hello World! I'm Terry Wang, a Computer Science Co-Op student at the University of Waterloo.
              I have endless passion in coding which keeps motivating me to learn new languages and skills.
              I like painting and playing piano as well.
            </p>
            <p>
              I'm currently learning iOS development and backend development. I describe myself as a:
            </p>
            <div class="text-wrapper">
              <p class="text-bullet">▸</p>
              <p>Easy-going | Earnest | Attentive | Honest Person</p>
            </div>
            <div class="text-wrapper">
              <p class="text-bullet">▸</p>
              <p>Passionate | Initiative | Creative | Self-learning | Hard-working Coder</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="gap" class="gap gap-1">
    <div class="mask"></div>
  </section>

  <section id="experience" class="section-wrapper">
    <div class="container">
      <div class="section-title text-center">
        <h1>Experience</h1>
        <div class="section-line"></div>
      </div>
      <div class="experience-content">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="exp-logo d-flex justify-content-center align-items-center">
              <div class="exp-CMDI exp-img-wrapper d-flex justify-content-center align-items-center">
                <img src="pic/exp-CMDI.png" class="img-fluid" title="Go to CMDI" alt="CMDI Logo"/>
              </div>
            </div>
            <div class="exp-position">
              Software Developer Internship
            </div>
            <div class="exp-name">
              China Mobile Group Design Institute Co., Ltd.
            </div>
            <div class="exp-date">
              May 2017 - Aug 2017
            </div>
            <div class="exp-content">
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Implemented “quick sort” to sort user location data by coordinates for analyzing user behaviors</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Developed a C program using C that divided Baidu Map into a matrix of coordinates to represent collected data</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Optimized internal website by implementing responsive features for mobile devices</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="exp-logo d-flex justify-content-center align-items-center">
              <div class="exp-Finastra exp-img-wrapper d-flex justify-content-center align-items-center">
                <img src="pic/exp-Finastra.png" class="img-fluid" title="Go to Finastra" alt="Finastra Logo"/>
              </div>
            </div>
            <div class="exp-position">
              Software Developer Internship
            </div>
            <div class="exp-name">
              Finastra
            </div>
            <div class="exp-date">
              May 2018 - Present
            </div>
            <div class="exp-content">
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Implemented a Yeoman generator with package selection for quick microservice scaffolding</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Implemented a Express middleware for validating incoming requests with AJV Schema</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="gap" class="gap gap-2">
    <div class="mask"></div>
  </section>

  <section id="project" class="section-wrapper">
    <div class="container">
      <div class="section-title text-center">
        <h1>Project</h1>
        <div class="section-line"></div>
      </div>
      <div class="project-content">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="project-logo d-flex justify-content-center align-items-center">
              <div id="project-MrSchedule" class="project-img-wrapper d-flex justify-cotent-center align-items-center">
                <img src="pic/project-MrSchedule.png" class="project-img" alt="MrSchedule Logo" title="View on GitHub" />
              </div>
            </div>
            <div class="project-name">
              Mr.Schedule
            </div>
            <div class="project-content">
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>A WeChat Miniprogram (embedded in WeChat) provides students a simple timetable to input their courses and view it as a daily schedule</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Implemented input for course information, edit function, and display function</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Currently has more than 1900 total users, and an average 15 – 20 active users per day</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <P>Tech Stacks: HTML, CSS, Javascript</P>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="project-logo d-flex justify-content-center align-items-center">
              <div id="project-Tetris" class="project-img-wrapper d-flex justify-cotent-center align-items-center">
                <img src="pic/project-Tetris.png" class="project-img" alt="Tetris Logo" title="View on GitHub" />
              </div>
            </div>
            <div class="project-name">
              Tetris
            </div>
            <div class="project-content">
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>A clone version of the game Tetris developed using C++ in a Group of 3</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Supports 5 different levels, save block, switch block, and hint functions</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <P>I comed up with the idea of Line class and implemented core logic such as calculating score and clearing blocks</P>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Tech Stacks: C++</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="project-logo d-flex justify-content-center align-items-center">
              <div id="project-KWCSSA" class="project-img-wrapper d-flex justify-cotent-center align-items-center">
                <img src="pic/project-KWCSSA.png" class="project-img" alt="KWCSSACalendar Logo" title="View on GitHub" />
              </div>
            </div>
            <div class="project-name">
              KWCSSACalendar
            </div>
            <div class="project-content">
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>A “Calendar like” WeChat Miniprogram for KWCSSA (Kitchener – Waterloo Chinese Students & Scholars Association) members to keep track of events</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Supports user groups, event visibility control and event priority display functions</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <P>Tech Stacks: HTML, CSS, Javascript</P>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="project-logo d-flex justify-content-center align-items-center">
              <div id="project-UWMilestone" class="project-img-wrapper d-flex justify-cotent-center align-items-center">
                <img src="pic/project-UWMilestone.png" class="project-img" alt="UWMilestone Logo" title="View on GitHub" />
              </div>
            </div>
            <div class="project-name">
              UW Milestone
            </div>
            <div class="project-content">
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>A website for University of Waterloo students to check their academic progress towards graduation</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Implemented user register, user login, and verify email functions</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Currently working on scraping undergraduate calendar for program requirements and displaying data</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <P>Tech Stacks: JavaScript, Node.js, Express, MongoDB, Nodemailer, Handlebars, Bootstrap</P>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="project-logo d-flex justify-content-center align-items-center">
              <div id="project-FMHelper" class="project-img-wrapper d-flex justify-cotent-center align-items-center">
                <img src="pic/project-FMHelper.png" class="project-img" alt="FMHelper Logo" title="View on GitHub" />
              </div>
            </div>
            <div class="project-name">
              FMHelper
            </div>
            <div class="project-content">
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p> A WeChat Miniprogram provides users several financial tools such as mortgage calculator and car lease calculator</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Implemented 6 different financial related calculators using business course formulae</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <p>Currently has more than 350 totol users</p>
              </div>
              <div class="text-wrapper">
                <p class="text-bullet">▸</p>
                <P>Tech Stacks: HTML, CSS, Javascript</P>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact-wrapper">
    <div class="contact-overlay">
      <div class="container">
        <div class="section-title text-center">
          <h1>Contact</h1>
          <div class="section-line"></div>
        </div>
        <div class="contact-content">
          <div class="row">
            <div class="col-sm-4 col-xs-12 d-flex justify-content-center align-items-center">
              <div id="contact-email" class="contact-method" title="Send Email">
                <div class="contact-icon">
                  <i class="far fa-envelope"></i>
                </div>
                <div class="contact-name">Email</div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12 d-flex justify-content-center align-items-center">
              <div id="contact-github" class="contact-method" title="View GitHub">
                <div class="contact-icon">
                  <i class="fab fa-github"></i>
                </div>
                <div class="contact-name">GitHub</div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12 d-flex justify-content-center align-items-center">
              <div id="contact-linkedin" class="contact-method" title="View LinkedIn">
                <div class="contact-icon">
                  <i class="fab fa-linkedin"></i>
                </div>
                <div class="contact-name">LinkedIn</div>
              </div>
            </div>
          </div>
        </div>
        <form id="contact-form">
          <div id="contact-inputs">
            <div class="row">
              <div class="col-sm-6 col-xs-12 d-flex flex-column">
                <input id="name" type="text" name="name" placeholder="Your Name" required>
                <input id="email" type="email" name="email" placeholder="E-mail" required>
              </div>
              <div class="col-sm-6 col-xs-12 d-flex flex-column">
                <textarea id="msg" name="msg" placeholder="Write Your message here ..." required></textarea>
              </div>
            </div>
            <div style="text-align: center;"><button type="sumbit" class="submit-button">SEND MESSAGE</button></div>
          </div>
          <h3 id="contact-loading" style="display: none;">Sending...</h3>
          <h3 class="contact-thank">Thank you!</h3>
          <h3 class="contact-thank">Your message has been sent.</h3>
          <h3 class="contact-fail">Sorry, your message could not be delievered at this time.</h3>
          <h3 class="contact-fail">Please try again, thank you.</h3>
        </form>
      </div>

      <div class="footer d-flex flex-column justify-content-center align-items-center">
        <div class="footer-row">&copy; Copyright 2018</div>
        <div class="footer-row">All Right Reserved By Terry Wang</div>
      </div>

    </div>
  </section>

  <a href="#home" class="goto-top-button" style="display: none;">
    <img src="pic/double-arrow-down.png" class="goto-top-img" />
  </a>

</body>
</html>
