*{margin: 0; padding: 0}

/* global style */

.hide {
  display: none;
}

/* End */

/* navbar style */
#header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-link {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.active {
  background: rgba(255, 255, 255, 0.2);
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* End */

/* home style */
@keyframes downAnimation {
    0%   { transform: translateY(0px); opacity: 0.5; }
    50%  { transform: translateY(-10px); opacity: 0.8; }
    100% { transform: translateY(0px); opacity: 0.5; }
}
@-o-keyframes downAnimation{
    0%   { transform: translateY(0px); opacity: 0.5; }
    50%  { transform: translateY(-10px); opacity: 0.8; }
    100% { transform: translateY(0px); opacity: 0.5; }
}
@-moz-keyframes downAnimation{
    0%   { transform: translateY(0px); opacity: 0.5; }
    50%  { transform: translateY(-10px); opacity: 0.8; }
    100% { transform: translateY(0px); opacity: 0.5; }
}
@-webkit-keyframes downAnimation{
    0%   { transform: translateY(0px); opacity: 0.5; }
    50%  { transform: translateY(-10px); opacity: 0.8; }
    100% { transform: translateY(0px); opacity: 0.5; }
}

@media (max-width: 575.98px) {
  .title-text {
    font-size: 25px;
  }
  .typed-wrap {
    font-size: 18px;
  }
  .arrow-down-pic {
    height: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .title-text {
    font-size: 40px;
  }
  .typed-wrap {
    font-size: 28px;
  }
  .arrow-down-pic {
    height: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .title-text {
    font-size: 54px;
  }
  .typed-wrap {
    font-size: 38px;
  }
  .arrow-down-pic {
    height: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .title-text {
    font-size: 70px;
  }
  .typed-wrap {
    font-size: 50px;
  }
  .arrow-down-pic {
    height: 32px;
  }
}

@media (min-width: 1200px) {
  .title-text {
    font-size: 83px;
  }
  .typed-wrap {
    font-size: 60px;
  }
  .arrow-down-pic {
    height: 35px;
  }
}

.arrow-down {
  position: absolute;
  bottom: 0;
  margin-bottom: 2.3vh;
  -webkit-animation: downAnimation 2s infinite;
  -moz-animation: downAnimation 2s infinite;
  -o-animation: downAnimation 2s infinite;
  animation: downAnimation 2s infinite;
}

.arrow-down:hover {
  cursor: pointer;
}

.arrow-down-pic {
}

/* End */

.bg-black {
  background: #111111;
}

.text-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.home-wrapper {
  background: url("../pic/home-background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(51,51,51,0.5);
}

.home {
  height: 100vh;
  width: 100vw;
  color: white;
}
