*{margin: 0; padding: 0}

/* global style */

.hide {
  display: none;
}

body {
  background: url("../pic/main-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

h1 {
  font-size: 50px;
}

p {
  color: #cccccc;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  .resume-button {
    margin-bottom: 30px;
  }
}

.section-title {
  padding-top: 85px;
  margin-bottom: 75px;
}

.section-line {
  background: #ffffff;
  width: 80px;
  height: 3px;
  margin: auto;
}

/* End */

/* navbar style */
#header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-link {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.active {
  background: rgba(255, 255, 255, 0.2);
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.bg-black {
  background: #282828;
}

/* End */

@keyframes downAnimation {
  0%   { transform: translateY(0px); opacity: 0.5; }
  50%  { transform: translateY(-10px); opacity: 0.8; }
  100% { transform: translateY(0px); opacity: 0.5; }
}
@-o-keyframes downAnimation{
  0%   { transform: translateY(0px); opacity: 0.5; }
  50%  { transform: translateY(-10px); opacity: 0.8; }
  100% { transform: translateY(0px); opacity: 0.5; }
}
@-moz-keyframes downAnimation{
  0%   { transform: translateY(0px); opacity: 0.5; }
  50%  { transform: translateY(-10px); opacity: 0.8; }
  100% { transform: translateY(0px); opacity: 0.5; }
}
@-webkit-keyframes downAnimation{
  0%   { transform: translateY(0px); opacity: 0.5; }
  50%  { transform: translateY(-10px); opacity: 0.8; }
  100% { transform: translateY(0px); opacity: 0.5; }
}


@media (max-width: 575.98px) {
  /* home style */
  .title-text {
    font-size: 25px;
  }
  .typed-wrap {
    font-size: 18px;
  }
  .arrow-down-pic {
    height: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* home style */
  .title-text {
    font-size: 40px;
  }
  .typed-wrap {
    font-size: 28px;
  }
  .arrow-down-pic {
    height: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* home style */
  .title-text {
    font-size: 54px;
  }
  .typed-wrap {
    font-size: 38px;
  }
  .arrow-down-pic {
    height: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* home style */
  .title-text {
    font-size: 70px;
  }
  .typed-wrap {
    font-size: 50px;
  }
  .arrow-down-pic {
    height: 32px;
  }
}

@media (min-width: 1200px) {
  /* home style */
  .title-text {
    font-size: 83px;
  }
  .typed-wrap {
    font-size: 60px;
  }
  .arrow-down-pic {
    height: 35px;
  }
}

/* home style */
.arrow-down {
  position: absolute;
  bottom: 0;
  margin-bottom: 2.3vh;
  -webkit-animation: downAnimation 2s infinite;
  -moz-animation: downAnimation 2s infinite;
  -o-animation: downAnimation 2s infinite;
  animation: downAnimation 2s infinite;
}

.arrow-down:hover {
  cursor: pointer;
}

.arrow-down-pic {
}

.text-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.home-wrapper {
  background: url("../pic/home-background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(51,51,51,0.5);
}

.home {
  height: 100vh;
  width: 100vw;
  color: white;
}
/* End */

/* about style */

.about-wrapper {
  width: 100%;
  height: 100%;
  background: #232323;
}

.about-img {
  width: 320px;
  margin: auto;
  border: 3px solid #ffffff;
  border-radius: 50%;
  margin-bottom: 65px;
}

.about-content {
  margin-bottom: 75px;
}

.img-fluid {
  border-radius: 50%;
}

.resume-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40%;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.resume-button:hover {
  text-decoration: none;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

/* End */
